:root {
	--color-background: rgb(233, 240, 255);
	--color-upper-gradient: rgb(97, 62, 254);
	--color-bottom-gradient: rgb(48, 45, 232);
	--color-upper-circle: rgb(69, 32, 194);
	--color-bottom-circle: rgb(63, 46, 240);
	--color-accent: rgb(0, 0, 42);
	--color-reaction: rgb(219, 85, 88);
	--color-reaction-background: rgb(254, 245, 246);
	--color-memory: rgb(228, 175, 77);
	--color-memory-background: rgb(255, 249, 242);
	--color-verbal: rgb(20, 128, 103);
	--color-verbal-background: rgb(240, 252, 248);
	--color-visual: rgb(25, 30, 131);
	--color-visual-background: rgb(242, 242, 254);
	--color-inactive: rgb(143, 136, 146);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
